## Calculating Portfolio Risk

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['AMT','PFE','AAL','ENPH','DB']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2020-1-1')['Adj Close']

In [3]:
sec_data.tail()

                   AMT        PFE        AAL        ENPH     DB
Date
2021-07-28  284.980011  43.060001  21.629999  181.419998  12.54
2021-07-29  283.000000  42.790001  21.170000  182.059998  12.90
2021-07-30  282.799988  42.810001  20.379999  189.600006  12.51
2021-08-02  283.619995  43.959999  20.059999  183.110001  12.40
2021-08-03  284.350006  45.680000  19.950001  192.619995  12.46

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                 AMT       PFE       AAL      ENPH        DB
Date
2020-01-02       NaN       NaN       NaN       NaN       NaN
2020-01-03  0.000481 -0.005380 -0.050769 -0.001706 -0.025533
2020-01-06 -0.000262 -0.001285 -0.012007  0.012553 -0.007417
2020-01-07 -0.021539 -0.003349 -0.003667  0.011065  0.023300
2020-01-08  0.008636  0.007968  0.022522  0.033123  0.038054
...              ...       ...       ...       ...       ...
2021-07-28 -0.006645  0.031563  0.007891  0.048333  0.001596
2021-07-29 -0.006972 -0.006290 -0.021496  0.003522  0.028304
2021-07-30 -0.000707  0.000467 -0.038031  0.040580 -0.030699
2021-08-02  0.002895  0.026508 -0.015826 -0.034830 -0.008832
2021-08-03  0.002571  0.038380 -0.005499  0.050632  0.004827

[400 rows x 5 columns]

## AMT

In [6]:
sec_returns['AMT'].mean()

0.0006200054909503915

In [7]:
sec_returns['AMT'].mean() * 250

0.15500137273759787

In [8]:
sec_returns['AMT'].std()

0.02340233042872775

In [9]:
sec_returns['AMT'].std() * 250 ** 0.5

0.37002333355322226

## PFE

In [10]:
sec_returns['PFE'].mean()

0.0006937027776307825

In [11]:
sec_returns['PFE'].mean() * 250

0.17342569440769562

In [12]:
sec_returns['PFE'].std()

0.019044244475418

In [13]:
sec_returns['PFE'].std() * 250 ** 0.5

0.30111594429699706

***

## AAL

In [14]:
sec_returns['AAL'].mean()

-0.0009360315224504244

In [15]:
sec_returns['AAL'].mean() * 250

-0.2340078806126061

In [16]:
sec_returns['AAL'].std()

0.05384432967797108

In [17]:
sec_returns['AAL'].std() * 250 ** 0.5

0.8513536043369461

## ENPH

In [18]:
sec_returns['ENPH'].mean()

0.004716209355558256

In [19]:
sec_returns['ENPH'].mean() * 250

1.1790523388895642

In [20]:
sec_returns['ENPH'].std()

0.05757740280946215

In [21]:
sec_returns['ENPH'].std() * 250 ** 0.5

0.9103786731743911

## DB

In [22]:
sec_returns['DB'].mean()

0.001009173106268288

In [23]:
sec_returns['DB'].mean() * 250

0.252293276567072

In [24]:
sec_returns['DB'].std()

0.03193599713890805

In [25]:
sec_returns['DB'].std() * 250 ** 0.5

0.5049524515378511

In [26]:
sec_returns[['AMT', 'PFE','AAL','ENPH', 'DB']].mean() * 250

AMT     0.155001
PFE     0.173426
AAL    -0.234008
ENPH    1.179052
DB      0.252293
dtype: float64

In [27]:
sec_returns[['AMT', 'PFE','AAL','ENPH', 'DB']].std() * 250

AMT      5.850583
PFE      4.761061
AAL     13.461082
ENPH    14.394351
DB       7.983999
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [28]:
cov_matrix = sec_returns.cov()
cov_matrix

           AMT       PFE       AAL      ENPH        DB
AMT   0.000548  0.000245  0.000207  0.000358  0.000247
PFE   0.000245  0.000363  0.000232  0.000142  0.000204
AAL   0.000207  0.000232  0.002899  0.000873  0.000905
ENPH  0.000358  0.000142  0.000873  0.003315  0.000598
DB    0.000247  0.000204  0.000905  0.000598  0.001020

In [29]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

           AMT       PFE       AAL      ENPH        DB
AMT   0.136917  0.061238  0.051644  0.089387  0.061740
PFE   0.061238  0.090671  0.057969  0.035461  0.051111
AAL   0.051644  0.057969  0.724803  0.218367  0.226346
ENPH  0.089387  0.035461  0.218367  0.828789  0.149479
DB    0.061740  0.051111  0.226346  0.149479  0.254977

***

In [30]:
corr_matrix = sec_returns.corr()
corr_matrix

           AMT       PFE       AAL      ENPH        DB
AMT   1.000000  0.549611  0.163938  0.265352  0.330434
PFE   0.549611  1.000000  0.226129  0.129360  0.336147
AAL   0.163938  0.226129  1.000000  0.281744  0.526518
ENPH  0.265352  0.129360  0.281744  1.000000  0.325168
DB    0.330434  0.336147  0.526518  0.325168  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [31]:
weights = np.array([0.20, 0.20,0.20,0.20,0.20])

Portfolio Variance:

In [32]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.16166563683175966

Portfolio Volatility:

In [33]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.40207665541754556

In [34]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

40.208 %

In [35]:

returns = (sec_dat / mydata.shift(1)) - 1
returns.head()

NameError: name 'mydata' is not defined

In [36]:
weights = np.array([0.20, 0.20, 0.20, 0.20, 0.20])

In [ ]:

annual_returns = returns.mean() * 250
annual_returns

In [ ]:
np.dot(annual_returns, weights)

In [ ]:
pfolio_1 = str(round(np.dot(annual_returns, weights), 5) * 100) + ' %'
print (pfolio_1)